.page {
  inline-size: 100%;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main), sans-serif;
  font-size: var(--font-size-main);
  color: var(--color-accent);
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--color-bg);
  font-variation-settings: 'wgth' var(--wght-main-text);
}

.page__block {
  max-inline-size: var(--page__inline-size);
  margin: 0 auto;
}

.border-decor {
  border: 2px solid var(--color-accent);
} 

.header {
  font-family: var(--font-accent), fantasy;
  text-transform: uppercase;
  background-color: var(--color-bg);
  margin: 100px auto;
  display: grid;
  justify-items: center;
  gap: 21px;
}

.header__link-logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-decoration: none;
  margin-block-start: clamp(120px, var(--breakpoint-simulation) * 1000, 136px);
}

.header__link-logo:focus {
  outline: none;
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu {
  display: grid;
  justify-items: center;
  margin-block-end: 21px;
}

.theme-menu__list {
  display: grid;
  gap: 7px;
}

.theme-menu__button {
  border: none;
  background-color: transparent;
  text-transform: inherit;
  font-size: var(--font-size-interactive-element);
  cursor: pointer;
  position: relative;
  padding-inline-start: 24px;
  transition: opacity 0.3s ease;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  inset-inline-start: 3px;
  animation: target 0.5s ease-in-out infinite alternate;
  transform-origin: center;
}

.theme-menu__button::after {
  content: '';
  display: block;
  inline-size: 100%;
  block-size: 2px;
  background-color: var(--color-accent);
  transition: transform 0.3s ease;
  transform-origin: 0 0;
  transform: scaleX(0);
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.main {
  display: grid;
  gap: 50px;
  justify-items: center;
}

.content__list {
  display: grid;
  gap: 50px;
}

.card {
  background-color: var(--color-bg);
}

.card__title {
  font-size: var(--font-size-main);
  font-variation-settings: 'wgth' var(--wght-title);
  margin: 5px 10px;
}

.card__content {
  display: grid;
  gap: 22px;
}

.card__content-detales {
  position: relative;
}

.card__content-label {
  font-family: var(--font-accent), fantasy;
  font-size: var(--font-size-interactive-element);
  position: absolute;
  text-transform: uppercase;
  inset-inline-end: 25px;
  inset-block: 27px;
  text-shadow:
  -1px 0 var(--color-bg), 
  0 1px var(--color-bg), 
  1px 0 var(--color-bg), 
  0 -1px var(--color-bg);
  opacity: 0.5;
}

@supports((text-stroke: 1px #000000) or (-webkit-text-stroke: 1px #000000)) {
  .card__content-label {
    -webkit-text-stroke: 1px var(--color-bg);
    text-stroke: 1px var(--color-bg);
    text-shadow: none;
  }
}

.card__content-image {
  border-block-start: 2px solid var(--color-accent);
  border-block-end: 2px solid var(--color-accent);
  inline-size: 100%;
  aspect-ratio: 1 / 1.009;
  object-fit: cover;
  object-position: center;
}

.card__content-image.target {
  filter: contrast(130%) hue-rotate(230deg);
}

.card__content-image.fear {
  filter: brightness(200%);
}

.card__content-image.power {
  filter: contrast(130%);
}

.card__content-image.accuracy {
  filter: opacity(90%);
}

.card__content-image.people {
  filter: saturate(200%);
}

.card__content-image.dont-worry {
  filter: sepia(75%);
}

.card__content-image.concentration {
  filter: invert(0.8);
}

.card__content-image.good-way {
  filter: contrast(130%) saturate(130%);
}

.card__text {
  display: grid;
  margin: 0 25px;
  line-height: 116.667%;
  gap: 28px;
}

.card__buttons {
  display: flex;
  margin: 27px 25px 23px;
  justify-content: flex-end;
  gap: 6px;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.card__icon-button {
  display: block;
  inline-size: 42px;
  block-size: 38px;
  background-color: transparent;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
  padding: 0;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--color-accent);
}

.button {
  font-family: var(--font-accent), fantasy;
  font-size: var(--font-size-interactive-element);
  line-height: 90%;
  background-color: var(--color-bg);
  border: 2px solid var(--color-accent);
  position: relative;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px var(--color-accent);
}
  
.button::after {
  content: '';
  display: block;
  background-color: var(--color-accent);
  position: absolute;
  inset: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
  transform-origin: 0 0;
}

.button:hover::after {
  transform: scaleX(1);
}

.button__text {
  color: var(--color-text-hover-bttn);
  position: relative;
  mix-blend-mode: difference;
  z-index: 1;
}

.save-icon {
  color: var(--color-text-hover-bttn);
  display: block;
  inline-size: 21px;
  block-size: 21px;
  mix-blend-mode: difference;
  position: relative;
  z-index: 1;
}

.main__button {
  margin-block-end: 100px;
  inline-size: clamp(310px, 23.26vw, 339px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 16px 0 15px;
}

.dialog[open] {
  inline-size: clamp(341px, 25vw, 361px);
  font-family: var(--font-accent), fantasy;
  font-size: var(--font-size-interactive-element);
  color: inherit;
  background-color: var(--color-bg);
  justify-self: center;
  align-self: center;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: repeat(2, auto);
  row-gap: 30px;
  column-gap: 20px;
  padding: 32px;
}

.dialog::backdrop {
  background-color: black;
  opacity: 0.75;
}

.dialog[open] .save-icon {
  inline-size: 39px;
  block-size: 39px;
}

.dialog__icon {
  grid-column: 1/2;
  grid-row: 1/2;
}

.dialog__title {
  font-size: var(----font-size-interactive-element);
  line-height: 150%;
  text-transform: uppercase;
  grid-column: 2/3;
  grid-row: 1/2;
}

.dialog__form {
  grid-column: 1/3;
  grid-row: 2/3;
}

.dialog__button {
  block-size: 38px;
  inline-size: 100%;
  text-transform: uppercase;
}

@media (width <= 375px) {
  .main__button {
    flex-direction: column;
  }
  .save-icon {
    inline-size: 28px;
    block-size: 28px;
  }
}